

.row {
    display: flex;
    justify-content: space-around;
    
    

}

.col, .col-2, .col-3{
    margin: 10px;
    flex: 1 1 auto;
    background-color: aqua;
    padding: 10px;

}

.col-2{
    flex: 2 



}
.col-3{
    flex: 3

}